*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Plain Light" ;
    color : #fff;
    
} 
html ,body{
    height: 100%;
    width: 100%;
    
}
.main{
    position: relative;
    background-color: #151515;
}

.crsr{
    width: 2.1vw;
    height: 2.1vw;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: transparent;
    z-index: 1000;
    position: fixed;
    transform: translate(-50% , -50%);
}
.loader{
    height: 100%;
    width: 100%;
    background-color: #0b0b0b;
    z-index: 999;
    position: fixed;
    padding: 25vh 10vw;
}
.line1{
    height: fit-content;
    /* background-color: red; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    gap: 3vw;
}
.line1 h2{
    font-size : 5vw ;
     text-transform : uppercase ;
     opacity: 0;
     animation-duration: 3s;
     animation-iteration-count: infinite;
}

@keyframes anime {
    0%{
        font-family:"Plain Light" ;
        -webkit-text-stroke: 1px #fff;
        color : #fff ;
        font-weight: 500;
        opacity: 1;
    } 
    46%{
        font-family:"Plain Light" ;
        -webkit-text-stroke: 1px #fff;
        color : #fff ;
        font-weight: 500;
        opacity: 0;
    } 
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color : transparent ;
        font-weight: 500;
        opacity: 1;

    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color : transparent ;
        font-weight: 500;
        opacity: 0;

    }
}
.line1-part1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}
.line1-part1 h5 , .line1-part1 h6 {
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif";
}
.line1-part1 h5{
    width: 5vw;
    text-align: right;
}

.line1 h1{
    font-size: 6.4vw;
    text-transform: uppercase;
    font-weight: 600;
    
}


/* #0b0b0b */

.page1{
    width: 100%;
    height: 100vh;
    background-color: #151515;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vh 10vw;
}

.nav-part2{
    display: flex;
    gap: 2.5vw;
    justify-content: center;
    align-items: center;
}
.nav-part2 h4{
    font-size: 1.1vw;
    font-weight: 100;
    font-family: "Plain Light";
    font-weight: 500;
}
.hero{
    height: fit-content;
    overflow: hidden;
    width: 72%;
    margin-left: 27%;
    display: flex;
    align-items: center;
    position: relative;
}
.hero h1{
    font-size: 8vw;
    text-transform: uppercase;
    line-height: 8vw;
}
.hero:nth-child(2){
    margin-top: 17vh;
}
.hero h2 , .hero h3{
    font-size: 8vw;
    text-transform: uppercase;
    line-height: 8vw;
}
.hero h2 {
    border-bottom: 0.5vw solid #fff;
    padding-bottom: 1vw;
}

.hero h2:hover{
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    font-weight: 500;
    /* font-family: "silk serif"; */
    /* cursor: pointer; */
}
.hero h2:hover{
    border-color: transparent;
    font-weight: 500;
    /* font-family: "silk serif"; */
    /* cursor: pointer; */
}

.page2{
    width: 100%;    
    height: 100vh;
    padding: 20vh;
    position: relative;
}

.videodiv{
    height: 66vh;
    width: 60vw;
    position: relative;
    left: 30%;
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
    /* background-color: red; */
}
.videodiv img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
}
.videodiv video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.videocrsr{
    width: 9vw;
    height: 9vw;
    border-radius: 50%;
    /* border: 1px solid #fff; */
    background-color: #FFA63C;
    /* z-index: 1000; */
    position: absolute;
    top: 0;
    left: 80%;
    z-index: 999;
    transform: translate(-50% , -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    color : #fff
}
.videocrsr i{
    font-size: 2vw;
}
.page3{
    width: 100%;
    min-height: 100vh;
    position: relative;
}
.page4{
    width: 100%;
    height: 100vh;
    background-color: #151515;
    padding: 20vh;
    position: relative;
}
